<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= image_tag(@movie.poster.url, class: "img-responsive") %>
    </div>
      <div class="col-md-9">
    <h2><%= @movie.title %> (<%= @movie.release_year %>)</h2>
    <p><%= @movie.description %></p>
    <h4>Director: <%= @movie.director %></h4>
    <p>Price: <span class="movie_price"><%= @movie.price %></span> | <%= link_to 'Back', store_path %></p>
      </div>
  </div>
  
</div>